<h1>New Blog Post</h1>

<!-- HTMl way of creating a form
<form method='/pages' action='POST'>
  <input required name='title' placeholder='Blog Title' />
  <br />
  <input required name='author' placeholder='Blog Author' />
  <br />
  <textarea required name="content" placeholder='Blog Content'></textarea>
  <br />
  <label>Public?</label>
  <input type='checkbox' name='public' />
  <br />
  <input type='submit' name='submit' />
</form> -->

<!-- Rails way for creating a form -->
<%= form_for @page do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, placeholder: 'Blog Title' %>
  <br />
  <%= f.label :author %>
  <%= f.text_field :author, required: true, placeholder: 'Blog Author' %>
  <br />
  <%= f.label :content %>
  <%= f.text_area :content, required: true, placeholder: 'Blog Content' %>
  <br />
  <%= f.label :public %>
  <%= f.check_box :public %>
  <br />
  <%= f.submit %>
<% end %>

<%= link_to 'All Posts', pages_path, class: 'btn btn-primary' %>